.navbar {
  background-color: rgb(0,0,0)!important;
}

body {
  padding-top: 50px;
  padding-bottom: 20px;
  background-color: rgb(232,232,232)
!important;

}


@media(max-width: 994px) {
  span[id=hero_image_two] {
    display:block;
    background-image: url("../imagery/toiletsmall.png");
    background-repeat: no-repeat !important;
      background-position: center !important;
      width: 500px !important;
      height: 250px !important;

  }
  img[id=hero_image_one] {
    display: none;
  }
}

@media(max-width: 565px) {
  span[id=hero_image_two] {
    display:block;
    background-image: url("../imagery/toiletmedium.png");
    background-repeat: no-repeat !important;
      background-position: left !important;
      width: 500px !important;
      height: 250px !important;
      margin: 0px 0px 0px 100px;

  }
  img[id=hero_image_one] {
    display: none;
  }
}

.center-piece {
  text-align: center;
  margin: 0 auto;
  padding: 50px 50px 0px 50px;
}

.center-block {
  padding: 30px;
}

#dropdownMenu1 {
  width: 200px;
  height: 40px;
}

.dropdown-menu {
  left: 42%;
}


@media(max-width: 1000px) {
  .dropdown-menu {
    left: 40%;
  }
}
@media(max-width: 900px){
  .dropdown-menu {
    left: 37%;
  }
}


form-group {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin {
  max-width: 500px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin-heading {
  margin-bottom: 10px:
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0px;
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;

}

.button_default_style {
  max-width: 100%;
  color: #fff;
  background-color: #337ab7;
  padding: 10px 16px 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 8px;
  display: block;

}

