.navbar {
  background: rgba(80,227,194, .6);

  border: none;
}

.navbar-header {
  width: 300px;

}

.navbar-btn {
  float: right;
  display: inline-block;
  border: none;
  margin-right: 30px;

}


body {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #CCCCCC;

}

/*#signin_button_background {
  width: 80px;
  height: 40px;
  background-color: #fff;
}*/

.center-piece {
  text-align: center;
  margin: 0 auto;
  padding: 50px 50px 0px 50px;
}

.dropdown-menu {
  left: 42%;
}


@media(max-width: 1000px) {
  .dropdown-menu {
    left: 40%;
  }
}
@media(max-width: 900px){
  .dropdown-menu {
    left: 37%;
  }
}

.bathrooms-layout {
  font-size: 40px;
}

.form-group {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin-heading {
  margin-bottom: 10px:
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0px;
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;

}



.button_default_style {
  max-width: 100%;
  color: #fff;
  background-color: #337ab7;
  padding: 10px 16px 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 8px;
  display: block;

}





